* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

.app {
    display: flex;
    height: 100vh;
    width: 100%;
}

.app .chats {
    position: fixed;
    left: 0;
    top: 0;
    width: 460px;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 36px 48px;
}

.app #chat {
    margin-left: 460px;
    height: 100vh;
    width: 100%;
    padding: 0px 28px;
    padding-top: 56px;
}

.app #chat .chat-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.app #chat #messages {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 90px;
}

.app #chat #messages li div {
    display: flex;
    align-items: center;
}

.app #chat #messages li ul li img {
    height: 76px;
    width: 96%;
    display: block;
}

.app #chat #messages li div span,
.app #chat #messages li div a {
    padding: 10px 22px;
    font-size: 16px;
    color: white;
    border-radius: 28px;
    margin-left: 13px;
}

.app #chat #messages li div img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.app #chat #messages li ul {
    display: grid;
    grid-template-columns: 140px 68px;
    margin-top: 8px;
    border-radius: 6px;
    border: 2px solid #000000;
    overflow: hidden;
}

.app #chat #messages li ul li {
    border: 1px solid #000000;
}

.app #chat #messages li ul li:first-child {
    grid-column: 1 / 2 span;
}

.app #chat #messages li ul li video {
    width: 100%;
    display: block;
}

.from-messages {
    align-self: flex-end;
}

.to-messages {
    align-self: flex-start;
}

.from-messages-color {
    background-color: #476cff;
}

.to-messages-color {
    background-color: #696969;
}

.app .chats .chats-search {
    margin-top: 28px;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
    border-radius: 26px;
}

.app .chats .chats-search input {
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 12px;
}

.app .chats #list {
    margin-top: 48px;
    padding-bottom: 90px;
}

.app .chats #list li {
    margin-top: 28px;
}

.app .chats #list li:first-child {
    margin-top: 0px;
}

.app .chats #list li a img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.app .chats #list li a div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 12px;
}

.active {
    background-color: #476cff;
    border-radius: 98px;
}

.message-area {
    display: flex;
    align-items: center;
    padding-left: 33px;
    padding-right: 48px;
    gap: 18px;
    margin-top: 61px;
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding-bottom: 23px;
    padding-top: 23px;
    width: -webkit-fill-available;
}

.message-area input {
    width: 100%;
}

#uploadFormPhotos label {
    background-image: url("./assets/gallery.png");
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#uploadFormPhotos input {
    display: none;
}

#uploadFormFile input {
    display: none;
}

#uploadFormFile label {
    background-image: url("./assets/menu.png");
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#form1 {
    display: flex;
    align-items: center;
    gap: 18px;
    width: 100%;
}

#form1 input {
    outline: none;
    background-color: #e2e2e2;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 98px;
    border: none;
}

#form1 button {
    background-image: url("./assets/send.png");
    background-color: transparent;
    border: none;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

#emoji {
    background-image: url("./assets/smileys.png");
    background-color: transparent;
    border: none;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.epr_vy4vae {
    position: fixed !important;
    bottom: 94px !important;
}

.stop-audio {
    background-image: url('./assets/stop-button.png');
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border: none;
}

.start-audio {
    background-image: url('./assets/audio.png');
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 48px;
    height: 48px;
}
